<p id="notice"><%= notice %></p>

<div class="index">

<h1>ANNUAIRE</h1>

<%= link_to 'Ajouter un contact', new_directory_path, class: 'btn btn-primary mt-5 mb-5' %>

  <div class="row">
  <% @directories.each do |contact| %>
    <div class="col-sm-3 mb-3">
      <div class="card">
        <div class="card-header">
          <%= contact.first_name %>
          <%= contact.last_name %> 
        </div>
        <div class="card-header">
        <%= link_to 'Voir le contact', contact, class: "btn btn-outline-primary center-text" %>
        </div>
      </div>
    </div>
  <% end %>
  </div>

</div>
