<p id="notice"><%= notice %></p>

<div class='container'>

<h1>Fiche Contact</h1>

<div class="row mt-5">
  <div class="col-4">
  <div class="p-3 border border-secondary mb-4 rounded text-uppercase">
    <%= @directory.last_name %>
    </div>
  </div>
  <div class="col-4">
  <div class="p-3 border border-secondary mb-4 rounded">
    <%= @directory.first_name %>
    </div>
  </div>
  <div class="col-4">
  <div class="p-3 border border-secondary mb-4 rounded">
    <%= @directory.phone %>
    </div>
  </div>
  <div class="col-4">
  <div class="p-3 border border-secondary mb-4 rounded">
    <%= @directory.address %>
    </div>
  </div>
  <div class="col-4">
  <div class="p-3 border border-secondary mb-4 rounded">
    <%= @directory.city %>
    </div>
  </div>
  <div class="col-4">
  <div class="p-3 border border-secondary mb-4 rounded">
    <%= @directory.postcode %>
    </div>
  </div>

  <div class="col-4">
  <div class="p-3 border border-secondary mb-4 rounded">
    <%= @directory.contract %>
    </div>
  </div>
  <div class="col-8">
  <div class="p-3 border border-secondary mb-4 rounded">
    <%= @directory.comment %>
    </div>
  </div>
</div>

<div class="row justify-content-center mt-5">
  <div class="col-2 text-center">
    <%= link_to 'Modifier', edit_directory_path(@directory), class: "btn btn-outline-primary pl-4 pr-4" %>
  </div>
  <div class="col-2 text-center">
    <%= link_to 'Retour', directories_path, class: "btn btn-primary pl-4 pr-4" %>
  </div>
</div>

</div>
