<p id="notice"><%= notice %></p>

<div class="index">

<h1>Traitements</h1>

<table class="table table-stripped table-hover table-responsive">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Variété</th>
      <th scope="col">Détails</th>
      <th scope="col">Quantité</th>
      <th scope="col">Unité</th>
      <th scope="col">Parcelle</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @treatments.each do |treatment| %>
      <tr>
        <td><%= treatment.date %></td>
        <td><%= treatment.variety.name %></td>
        <td><%= treatment.details %></td>
        <td><%= treatment.quantity %></td>
        <td><%= treatment.unit %></td>
        <td><%= treatment.parcel.idPlace %></td>
        <td><%= link_to 'Voir', treatment %></td>
        <td><%= link_to 'Modifier', edit_treatment_path(treatment) %></td>
        <td><%= link_to 'Supprimer', treatment, method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ajouter un traitement', new_treatment_path, class: 'btn btn-primary' %>

</div>