<p id="notice"><%= notice %></p>

<div class="index">

  <p>
    <p class="font-weight-bold mt-3 h5">Date:</p>
    <p class="bd-callout bd-callout-primary p-3 shadow-sm"><%= @treatment.date %>
  </p>

  <p>
    <p class="font-weight-bold mt-3 h5">Variété:</p>
    <p class="bd-callout bd-callout-primary p-3 shadow-sm"><%= @treatment.variety %>
  </p>

  <p>
    <p class="font-weight-bold mt-3 h5">Détails:</p>
    <p class="bd-callout bd-callout-primary p-3 shadow-sm"><%= @treatment.details %>
  </p>

  <p>
    <p class="font-weight-bold mt-3 h5">Quantité:</p>
    <p class="bd-callout bd-callout-primary p-3 shadow-sm"><%= @treatment.quantity %>
  </p>

  <p>
    <p class="font-weight-bold mt-3 h5">Unité:</p>
    <p class="bd-callout bd-callout-primary p-3 shadow-sm"><%= @treatment.unit %>
  </p>

  <p>
    <p class="font-weight-bold mt-3 h5">Parcelle:</p>
    <p class="bd-callout bd-callout-primary p-3 shadow-sm"><%= @treatment.parcel %>
  </p>

  <div class="mt-4">
    <% if can? :update, @variety%>
    <%= link_to 'Modifier', edit_treatment_path(@treatment), class: 'btn btn-outline-secondary mb-4' %> |
    <% end %>
    <br>
    <%= link_to 'Retour', treatments_path %>
  </div>
</div>
