
<div class=container>
    <h1>Dashboard</h1>
    <div class="row">
    <% @follows.each do |follow| %>
        <div class="col-4">
            <div class="card mb-4">
            <% if follow.is_a?(Event) %>
                <div class="card-header bg-success text-white">
                    <span>Culture</span>
                    <%= link_to "Voir plus", follow, class: "btn btn-primary"%>
                </div>
                <div class="card-body">
                    <p>Date : <%= follow.date %><p>
                    <p>Variété : <%= Variety.find(follow.variety_id).name %></p>
                    <p>Parcelle : <%= Parcel.find(follow.parcel_id).idPlace %></p>
                    <p>Action : <%= ActionType.find(follow.action_type_id).name %></p>
                    <p>Détails : <%= follow.details %></p>
                    <p>Quantité : <%= follow.quantity%> <%= follow.unit %></p>
                </div>
            <% elsif follow.is_a?(Fertilization) %>
                <div class="card-header bg-info text-white">
                    <span>Fertilisation</span>
                    <%= link_to "Voir plus", follow, class: "btn btn-primary"%>
                </div>
                <div class="card-body">
                    <p>Date : <%= follow.date %><p>
                    <p>Engrais : <%= Fertilizer.find(follow.fertilizer_id).name %></p>
                    <p>Quantité : <%= follow.quantity %></p>
                    <p>Parcelle : <%= Parcel.find(follow.parcel_id).idPlace %></p>
                </div>
            <% elsif follow.is_a?(Treatment) %>
                <div class="card-header bg-secondary text-white">
                    <span>Traitement</span>
                    <%= link_to "Voir plus", follow, class: "btn btn-primary"%>
                </div>
                <div class="card-body">
                    <p>Date : <%= follow.date %><p>
                    <p>Variété : <%= follow.variety.name %></p>
                    <p>Détails : <%= follow.details %></p>
                    <p>Quantité : <%= follow.quantity %> <%= follow.unit %></p>
                    <p>Parcelle : <%= follow.parcel.idPlace %></p>
                </div>
            <% end %>
            </div>
        </div>
    <% end %>
    </div>
</div>
