
<div class=container>
    <h1>Dashboard</h1>
    <div class="row">
    <% @follows.each do |follow| %>
        <div class="col-4">
            <div class="card mb-4">
            <% if follow.is_a?(Event) %>
                <div class="card-header bg-success text-white">
                    <span>Culture</span>
                </div>
                <div class="card-body">
                    <span><%= follow.date %></span>
                    <span><%= Variety.find(follow.variety_id).name %></span>
                    <span><%= Parcel.find(follow.parcel_id).idPlace %></span>
                    <span><%= ActionType.find(follow.action_type_id).name %></span>
                    <span><%= follow.details %></span>
                    <span><%= follow.quantity%></span>
                    <span><%= follow.unit %></span>
                </div>
            <% elsif follow.is_a?(Fertilization) %>
                <div class="card-header bg-info text-white">
                    <span>Fertilisation</span>
                </div>
                <div class="card-body">
                    <span><%= follow.date %></span>
                    <span><%= Fertilizer.find(follow.fertilizer_id).name %></span>
                    <span><%= follow.quantity %></span>
                    <span><%= Parcel.find(follow.parcel_id).idPlace %></span>
                </div>
            <% elsif follow.is_a?(Treatment) %>
                <div class="card-header bg-secondary text-white">
                    <span>Traitement</span>
                </div>
                <div class="card-body">
                    <span><%= follow.date %></span>
                    <span><%= follow.variety.name %></span>
                    <span><%= follow.details %></span>
                    <span><%= follow.quantity %></span>
                    <span><%= follow.unit %></span>
                    <span><%= follow.parcel.idPlace %></span>
                <div>
            <% end %>
            </div>
        </div>
    <% end %>
    </div>
</div>
