<p id="notice"><%= notice %></p>

<div class="index">

<h1>Parcelles</h1>

<table class="table table-stripped table-hover table-responsive">
  <thead>
    <tr>
      <th scope="col">ID du lieu</th>
      <th scope="col">Nom</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parcels.each do |parcel| %>
      <tr>
        <td><%= parcel.idPlace %></td>
        <td><%= parcel.name %></td>
        <td><%= link_to 'Voir', parcel %></td>
        <td><%= link_to 'Modifier', edit_parcel_path(parcel) %></td>
        <td><%= link_to 'Supprimer', parcel, method: :delete, data: { confirm: 'Etes-vous sûr ?' }, class: 'text-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle Parcelle', new_parcel_path, class: 'btn btn-primary' %>
</div>
