<%= form_with(model: fertilization, local: true) do |form| %>
  <% if fertilization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fertilization.errors.count, "error") %> prohibited this fertilization from being saved:</h2>

      <ul>
      <% fertilization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="field">
      <%= form.label :date, value: 'Date' %>
      <%= form.date_select :date, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= form.label :fertilizer_id, value: 'Engrais' %>
      <%= form.collection_select(:fertilizer_id, Fertilizer.where(user: current_user), :id, :name, {class: "form-control"})%>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= form.label :quantity, value: 'Quantité' %>
      <%= form.text_field :quantity, class: 'form-control' %>
    </div>
  </div>

    <div class="field">
      <%= form.label :parcel_id, value: 'ID du lieu' %>
      <%= form.collection_select(:parcel_id, Parcel.where(user: current_user), :id, :idPlace, {class: "form-control"})%>
    </div>

    <div class="actions">
    <% if current_page? new_fertilization_path %>
      <%= form.submit 'Créer', class: 'btn btn-primary' %>
    <% else %>
      <%= form.submit 'Modifier', class: 'btn btn-primary' %>
    <% end %>
    </div>
<% end %>
