<p id="notice"><%= notice %></p>

<div class="index">

  <div class="modal fade" tabindex="-1" role="dialog" id="modalfilters" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
       <div class="modal-body">
          
          <div class="container-fluid">
            <%= form_tag("/fertilizations", method: "get") do %>
            
            <div class="row">
              <h2>FILTRER LES RECHERCHES</h2>
            </div>  

            <div class="row">

              <div class="col">
                <%= label_tag("Date de début :") %><br>
                <%= date_field_tag(:from) %><br>
                
                <%= label_tag("Date de fin :") %><br>
                <%= date_field_tag(:to) %><br>
              </div>

              <div class="col">
                <%= label_tag("Engrais :") %><br>
                <%= collection_select(:fertilizer, :id, Fertilizer.where(user: current_user), :id, :name, :include_blank => true) %>
              </div>

              <div class="col">
                <%= label_tag("Parcelle :") %><br>
                <%= collection_select(:parcel, :id, Parcel.where(user: current_user), :id, :name, :include_blank => true) %>
              </div>

            </div>

            <div class="row justify-content-end">
                <br>
                <%= submit_tag("Rechercher") %><br>
                <button type="button" id="Init">
                  <%= link_to "Effacer les filtres", fertilizations_path %>
                </button>
                <% end %>

                <button type="button" data-dismiss="modal">Fermer</button>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>



  <h1>Suivi de la fertilisation</h1>

  <div class='container'>
    <%= link_to 'Ajouter un suivi', new_fertilization_path, class: 'btn btn-primary'  %>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalfilters">Filtres</button>
  </div>  


  <table class="table table-stripped table-hover table-responsive">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Engrais</th>
        <th scope="col">Quantité</th>
        <th scope="col">Parcelle</th>
        <th scope="col" colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @fertilizations.each do |fertilization| %>
        <tr>
          <td><%= fertilization.date %></td>
          <td><%= Fertilizer.find(fertilization.fertilizer_id).name %></td>
          <td><%= fertilization.quantity %></td>
          <td><%= Parcel.find(fertilization.parcel_id).idPlace %></td>
          <td><%= link_to 'Voir', fertilization %></td>
          <td><%= link_to 'Modifier', edit_fertilization_path(fertilization) %></td>
          <td><%= link_to 'Supprimer', fertilization, method: :delete, data: { confirm: 'êtes-vous sûr' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
