<p id="notice"><%= notice %></p>

<div class="index">

  <h2>Filtres</h2>

    <%= form_tag(fertilizations_path, method: "get") do %>
      <%= label_tag("Date de début :") %><br>
      <%= date_field_tag(:from) %><br>

      <%= label_tag("Date de fin :") %><br>
      <%= date_field_tag(:to) %><br>

      <%= label_tag("Engrais :") %><br>
      <%= collection_select(:fertilizer, :id, Fertilizer.where(user: current_user), :id, :name, :include_blank => true) %><br>

      <%= submit_tag("Search") %><br>
      <button type="button" id="Init">
        <%= link_to "Réinitialiser", fertilizations_path %>
      </button>
    <% end %>

  <h1>Suivi de la fertilisation</h1>

  <table class="table table-stripped table-hover table-responsive">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Engrais</th>
        <th scope="col">Quantité</th>
        <th scope="col">Parcelle</th>
        <th scope="col" colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @fertilizations.each do |fertilization| %>
        <tr>
          <td><%= fertilization.date %></td>
          <td><%= Fertilizer.find(fertilization.fertilizer_id).name %></td>
          <td><%= fertilization.quantity %></td>
          <td><%= Parcel.find(fertilization.parcel_id).idPlace %></td>
          <td><%= link_to 'Voir', fertilization %></td>
          <td><%= link_to 'Modifier', edit_fertilization_path(fertilization) %></td>
          <td><%= link_to 'Supprimer', fertilization, method: :delete, data: { confirm: 'êtes-vous sûr' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

<%= link_to 'Ajouter un suivi', new_fertilization_path, class: 'btn btn-primary'  %>

</div>
