<div class="index">

  <p id="notice"><%= notice %></p>

  <div class="row">

    <div class="col-sm-6">
      <p>
        <p class="font-weight-bold mt-3 h5">Date:</p>
        <p class="bd-callout bd-callout-primary p-3 shadow-sm"><%= @fertilization.date %></p>
      </p>

      <p>
        <p class="font-weight-bold mt-3 h5">Engrais:</p>
        <p class="bd-callout bd-callout-primary p-3 shadow-sm"><%= @fertilization.fertilizer.name %></p>
      </p>

      <p>
        <p class="font-weight-bold mt-3 h5">Quantité:</p>
        <p class="bd-callout bd-callout-primary p-3 shadow-sm"><%= @fertilization.quantity %></p>
      </p>

      <p>
        <p class="font-weight-bold mt-3 h5">Parcel:</p>
        <p class="bd-callout bd-callout-primary p-3 shadow-sm"><%= @fertilization.parcel.idPlace %></p>
      </p>
    </div>

  </div>

  <div class="mt-4">
    <%= link_to 'Modifier', edit_fertilization_path(@fertilization), class: 'btn btn-outline-secondary mb-4' %>
    <%= link_to 'Retour', fertilizations_path, class: 'btn btn-outline-secondary mb-4' %>
  </div>

</div>
