<div class='container'>

  <div class='row'> 
  <div class='col'> 

      <h2>PARAMÈTRES</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field", class="form-group" >
          <%= f.label :username, class: 'sr-only' %><br />
          <%= f.text_field :username, placeholder: 'Nom de ferme', class: 'form-control' %>
        </div>

        <div class="field", class="form-group">
          <br>
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Nous attendons la confirmation de l'email : <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-row">
          <div class="form-group col-md-6">  
            <div class="field", class="form-group">
              <br>
              <%= f.label :password, value: "Mot de passe"  %><br />
              <%= f.password_field :password, placeholder: "Laissez un blanc si vous ne souhaitez pas le modifier.", autocomplete: "new-password", class: 'form-control' %>
              <% if @minimum_password_length %>
                <em><%= @minimum_password_length %> caractères minimum</em>
              <% end %>
              <br>
            </div>
          </div>  

          <div class="form-group col-md-6">  
            <div class="field", class="form-group">
              <br>
              <%= f.label :password, value: "Confirmez votre nouveau mot de passe."  %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
              <br>
            </div>
          </div>
          
        </div>    

        <div class="field", class="form-group">
          <%= f.label :current_password, value: 'Mot de passe actuel' %> <i>(Nous avons besoin de votre mot de passe actuel pour confirmer vos modifications.)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
          <br>
        </div>

  </div> 
  </div>   


</div>

<div class='container'>

    <div class="row justify-content-around">
      <div class="col-4">
        <div class="actions">
            <%= f.submit "Enregistrer", class: "btn btn-primary" %>
        </div>
        <div class="actions">
            <%= link_to "Annuler", :back, class: 'btn btn-outline-primary' %>
        </div>
      </div>
      
      <div class="col-4">
        <div class="actions">
          <%= link_to 'Déconnexion', destroy_user_session_path, method: 'delete', class: 'btn btn-outline-danger' %>
        </div>

        <div class="actions">
          <p><%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Etes-vous sûr de vouloir supprimer le compte ?" }, method: :delete, class: 'btn btn-danger' %></p>
        </div>

      </div>

      <% end %>
    
    </div>


</div>


