
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-signin text-center'}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <h2 class="h3 mb-3 font-weight-normal">Inscription</h2>

  <div class="field">
    <%= f.label :email, class: 'sr-only' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: "form-control" %>
    <br>
  </div>

  <div class="field">
    <%= f.label :password, class: 'sr-only' %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Mot de passe', class: "form-control" %>
        <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caractères minimum)</em>
    <% end %><br />
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: 'sr-only' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirmation du mot de passe', class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Inscription", class: 'btn btn-lg btn-primary btn-block' %>
  </div>

    <div class="links">
    <%= render "devise/shared/links" %>
  </div>
<% end %>

