<p id="notice"><%= notice %></p>

<h1>Fertilizers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Nitrogen</th>
      <th>Phosphorus</th>
      <th>Potassium</th>
      <th>Supplier</th>
      <th>Details</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fertilizers.each do |fertilizer| %>
      <tr>
        <td><%= fertilizer.name %></td>
        <td><%= fertilizer.nitrogen %></td>
        <td><%= fertilizer.phosphorus %></td>
        <td><%= fertilizer.potassium %></td>
        <td><%= fertilizer.supplier %></td>
        <td><%= fertilizer.details %></td>
        <td><%= fertilizer.user %></td>
        <td><%= link_to 'Show', fertilizer %></td>
        <td><%= link_to 'Edit', edit_fertilizer_path(fertilizer) %></td>
        <td><%= link_to 'Destroy', fertilizer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fertilizer', new_fertilizer_path %>
