<p id="notice"><%= notice %></p>

<div class="indexShowPage">

  <h1 class="mt-5">Fiche Engrais</h1>

  <hr>

  <div class="container w-50 mt-5">
    <div class="row">
      <div class="col-12 mb-3">
        <p class="p-3 border border-secondary mb-4 rounded">
          Engrais : <%= @fertilizer.name %>
        </p>
      </div>
      <div class="col-12 mb-3">
        <p class="p-3 border border-secondary mb-4 rounded">
          Teneur en N : <%= @fertilizer.nitrogen %>
        </p>
      </div>
      <div class="col-12 mb-3">
        <p class="p-3 border border-secondary mb-4 rounded">
          Teneur en P : <%= @fertilizer.potassium %>
        </p>
      </div>

      <div class="col-12 mb-3">
        <p class="p-3 border border-secondary mb-4 rounded">
          Teneur en K : <%= @fertilizer.phosphorus %>
        </p>
      </div>
      <div class="col-12 mb-3">
        <p class="p-3 border border-secondary mb-4 rounded">
          Fournisseur : <%= @fertilizer.supplier %>
        </p>
      </div>
      <div class="col-12 mb-3">
        <p class="p-3 border border-secondary mb-4 rounded">
          Détails: 
          <p><%= @fertilizer.details %></p>
        </p>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-4 text-center">
        <%= link_to 'Modifier', edit_fertilizer_path(@fertilizer), class: "btn btn-outline-primary pl-4 pr-4" %>
      </div>
      <div class="col-4 text-center">
        <%= link_to 'Retour', fertilizers_path, class: "btn btn-primary pl-4 pr-4" %>
      </div>
    </div>

    </div>
  </div>

</div>
