<%= form_with(model: variety, local: true) do |form| %>
  <% if variety.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(variety.errors.count, "error") %> prohibited this variety from being saved:</h2>

      <ul>
      <% variety.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
      <% if Vegetable.where(user: current_user) != [] %>
    <div class="field">
      <%= form.label :name, value: 'Nom' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= form.label :vegetable_id, value: 'Légume' %>
      <%= form.collection_select(:vegetable_id, Vegetable.where(user: current_user), :id, :name, {class: "form-control"}) %>
    </div>
  </div>

    <div>
      <% end %>
  </div>
  <div>
    <% if Vegetable.where(user: current_user) != [] %>
    <div class="actions">
      <% if current_page? new_variety_path %>
        <%= form.submit 'Ajouter', class: 'btn btn-primary' %>
        <% else %>
        <%= form.submit 'Modifier', class: 'btn btn-primary' %>
      <% end %>
    </div>
    <% else %>

  </div>
  <% end %>
<% end %>