<p id="notice"><%= notice %></p>

<div class="index">

<h1>Variétés</h1>

<table class="table table-stripped table-hover table-responsive">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Légume</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @varieties.each do |variety| %>
      <tr>

        <td><%= variety.name %></td>
        <td><%= variety.vegetable.name %></td>
        <td><%= link_to 'Voir', variety %></td>
        <td><%= link_to 'Modifier', edit_variety_path(variety) %></td>
        <td><%= link_to 'Supprimer', variety, method: :delete, data: { confirm: 'Etes-vous sûr ?' }, class: 'text-danger'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle Variété', new_variety_path, class: 'btn btn-primary' %>
</div>
