<p id="notice"><%= notice %></p>
<div class="showvari">
    <div class="index">
    <p>
      <h1>Nom</h1>
      <br>
      <p class="bd-callout bd-callout-primary p-3 shadow-sm form-signin"><%= @variety.name %></p>
    </p>

    <p>
      <h1>Légume</h1>
      <br>
      <p class="bd-callout bd-callout-primary p-3 shadow-sm form-signin"><%= @variety.vegetable.name %></p>
    </p>

    <div class="mt-4 text-center">

      <%= link_to 'Modifier', edit_variety_path(@variety), class: 'btn btn-outline-primary' %>

      <br>
      <%= link_to 'Retour', varieties_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
