<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="field">
      <%= form.label :date %>
      <%= form.date_select :date, class: 'form-control' %>
    </div>
  </div>


  <div class="form-group">
    <% if Variety.where(user: current_user) != [] %>
    <div class="field">
      <%= form.label :variety_id, value: 'Variété' %>
      <%= form.collection_select(:variety_id, Variety.where(user: current_user), :id, :name, {class: "form-control"})%>
    </div>
    <% else %>
    <div>
      <%= link_to 'Ajouter une variété', new_variety_path, class: 'btn btn-primary' %>
    </div>
    <% end %>

  </div>


  <div class="form-group">
    <% if Parcel.where(user: current_user) != [] %>
    <div class="field">
      <%= form.label :parcel_id, value: 'Parcelle' %>
      <%= form.collection_select(:parcel_id, Parcel.where(user: current_user), :id, :idPlace, {class: "form-control"})%>
    </div>
    <% else %>
    <div>
      <%= link_to 'Ajouter une parcelle', new_parcel_path, class: 'btn btn-primary' %>
    </div>
    <% end %>

  </div>


  <div class="form-group">
    <% if ActionType.where(user: current_user) != [] %>
    <div class="field">
      <%= form.label :action_type_id %>
      <%= form.collection_select(:action_type_id, ActionType.where(user: current_user), :id, :name, {class: "form-control"})%>
    </div>
    <% else %>
    <div>
      <%= link_to 'Ajouter une action', new_action_type_path, class: 'btn btn-primary' %>
    </div>
    <% end %>
  </div>


  <div class="form-group">
    <div class="field">
      <%= form.label :details, value: 'Commentaire' %>
      <%= form.text_area :details, class: 'form-control' %>
    </div>
  </div>


  <div class="form-group">
    <% if (Parcel.where(user: current_user) != []) && (Variety.where(user: current_user) != []) && (ActionType.where(user: current_user) != [])  %>
    <div class="actions">
        <%= form.submit 'Créer', class: 'btn btn-primary' %>
        <%= form.submit 'Modifier', class: 'btn btn-primary' %>
    </div>
    <% else %>

    <% end %>

<% end %>
