<p id="notice"><%= notice %></p>

<div class="index">

  <h2>Filtres</h2>
    <form action="/" method="get">
      Date de début : <br>
      <input type="date" name="from" id="from"> <br>
      Date de fin : <br>
      <input type="date" name="to" id="to"> <br>
      <input type="submit"> <br>
    </form>

  <h1>Suivi de mes cultures</h1>
  

  <table class="table table-stripped table-hover table-responsive">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Variété</th>
        <th scope="col">Parcelle</th>
        <th scope="col">Action</th>
        <th scope="col">Détails</th>
        <th scope="col">Quantité</th>
        <th scope="col">Unité</th>
        <th scope="col" colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <th scope="row"><%= event.date %></th>
          <td><%= Variety.find(event.variety_id).name %></td>
          <td><%= Parcel.find(event.parcel_id).idPlace %></td>
          <td><%= ActionType.find(event.action_type_id).name %></td>
          <td><%= event.details %></td>
          <td><%= event.quantity%></td>
          <td><%= event.unit %></td>
          <td><%= link_to 'Voir', event %></td>
          <td><%= link_to 'Modifier', edit_event_path(event) %></td>
          <td><%= link_to 'Supprimer', event, method: :delete, data: { confirm: 'Etes-vous sûrs ?' }, class: 'text-danger' %></t>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Ajouter un suivi', new_event_path, class: 'btn btn-primary' %>

</div>

