<div class="index">

  <p id="notice"><%= notice %></p>

  <div class="row">

    <div class="col-sm-6">
      <p>
        <p class="font-weight-bold mt-3 h5">Date:</p>
        <p class="bd-callout bd-callout-primary p-3 shadow-sm"><%= @event.date %></p>
      </p>

      <p>
        <p class="font-weight-bold mt-3 h5">Parcelle:</p>
        <p class="bd-callout bd-callout-primary p-3 shadow-sm"><%= @event.parcel %></p>
      </p>

      <p>
        <p class="font-weight-bold mt-3 h5">Variété:</p>
        <p class="bd-callout bd-callout-primary p-3 shadow-sm"><%= Variety.find(@event.variety_id).name %></p>
      </p>
    </div>

    <div class="col-sm-6">
      <p>
        <p class="font-weight-bold mt-3 h5">Action:</p>
        <p class="bd-callout bd-callout-primary p-3 shadow-sm"><%= @event.action %></p>
      </p>

      <p>
        <p class="font-weight-bold mt-3 h5">Commentaires:</p>
        <% if @event.details != '' %>
          <p class="bd-callout bd-callout-primary p-3 shadow-sm"><%= @event.details %></p>
        <% else %>
          <p class="bd-callout bd-callout-primary p-3 shadow-sm">Aucun commentaire</p>
        <% end %>

      </p>
    </div>

  </div>


  <div class="mt-4">
    <p><%= link_to 'Modifier', edit_event_path(@event), class: 'btn btn-outline-secondary mb-4' %></p>
    <%= link_to 'Retour', events_path %>
  </div>

</div>