<%= form_with(model: action_type, local: true) do |form| %>
  <% if action_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(action_type.errors.count, "error") %> prohibited this action_type from being saved:</h2>

      <ul>
      <% action_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <div class="field">
    <%= form.label :name, value: 'Nom' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
</div>

  <div class="actions mb-3">
    <%= form.submit 'Ajouter une action', class: 'btn btn-primary' %>
  </div>
<% end %>
