<p id="notice"><%= notice %></p>

<div class="index">

<h1>Type d'action</h1>

<table class="table table-stripped table-hover table-responsive">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @action_types.each do |action_type| %>
      <tr>
        <td><%= action_type.name %></td>
        <td><%= link_to 'Voir', action_type %></td>
        <td><%= link_to 'Modifier', edit_action_type_path(action_type) %></td>
        <td><%= link_to 'Supprimer', action_type, method: :delete, data: { confirm: 'Etes-vous sûr ?' }, class: 'text-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle Action', new_action_type_path, class: 'btn btn-primary' %>
</div>
