<%= form_with(model: vegetable, local: true) do |form| %>
  <% if vegetable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vegetable.errors.count, "error") %> prohibited this vegetable from being saved:</h2>

      <ul>
      <% vegetable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="field">
      <%= form.label :name, value: 'Nom' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="actions mb-3">
      <% if current_page? new_vegetable_path%>
        <%= form.submit 'Ajouter', class: 'btn btn-primary' %>
      <% else %>
        <%= form.submit 'Modifier', class: 'btn btn-primary' %>
      <% end %>
  </div>
<% end %>
