<p id="notice"><%= notice %></p>

<div class="indexvege">
  <div class="index">
    <h1>Mes légumes</h1>

    <table class="table table-stripped table-hover table-responsive"">
      <br>
      <%= link_to 'Ajouter', new_vegetable_path, class: 'btn btn-primary' %>
      <br>
      <thead>
        <tr>
          <th scope="col">Nom</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @vegetables.each do |vegetable| %>
          <tr>
            <td><%= vegetable.name %></td>
            <td><%= link_to 'Voir', vegetable %></td>
            <td><%= link_to 'Modifier', edit_vegetable_path(vegetable) %></td>
            <% if Vegetable.where(id: vegetable.id).empty? %>
            <td><%= link_to 'Supprimer', vegetable, method: :delete, data: { confirm: 'Etes-vous sûr ?' }, class: 'text-danger' %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>


  </div>
</div>
