<!DOCTYPE html>
<html>
  <head>
    <title>Journaldebord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar shadow-sm">
      <div class="container d-flex justify-content-between">
        <p class="navbar-brand d-flex align-items-center">Le journal de bord</p>
        <%= link_to 'Déconnexion', destroy_user_session_path, method: 'delete', class: 'text-danger' %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
