<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Journal de bord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-expand-lg navbar-light bg-light">
        <p class="navbar-brand">Le journal de bord</p>
        <% if user_signed_in? %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <%= link_to 'Suivi de mes cultures', events_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Mes légumes',vegetables_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Mes variétés',varieties_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Mes parcelles',parcels_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Mes actions',action_types_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Déconnexion', destroy_user_session_path, method: 'delete', class: 'nav-link text-danger' %>
              </li>
            </ul>
          </div>
          
        <% end %>
    </header>
    <%= yield %>
  </body>
</html>
