<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Journal de bord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>

  <body>

    <% if user_signed_in? %>
    <header class="navbar navbar-expand-lg navbar-light" id="background">
      <%= link_to root_path do %>
      <div id="navbar-contener">
        <p class='navbar-brand' id="h1">journal de bord</p>
      <% end  %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item dropdown">

                    <p class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      mes suivis

                    </p>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <p class="dropdown-item"><%= link_to 'Suivi de mes cultures', events_path, class: 'nav-link text-success' %></p>
                      <div class="dropdown-divider"></div>
                      <p class="dropdown-item"><%= link_to 'Suivi de la fertilisation', fertilizations_path, class: 'nav-link' %></p>
                      <div class="dropdown-divider"></div>
                      <p class="dropdown-item"><%= link_to 'Suivi des traitements', treatments_path, class: 'nav-link' %></p>
                    </div>
                  </li>

                  <li class="nav-item dropdown">
                    <p class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      mon jardin
                    </p>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <p class="dropdown-item"><%= link_to 'Mes légumes',vegetables_path, class: 'nav-link' %></p>
                      <div class="dropdown-divider"></div>
                      <p class="dropdown-item"><%= link_to 'Mes variétés',varieties_path, class: 'nav-link' %></p>
                      <div class="dropdown-divider"></div>
                      <p class="dropdown-item"><%= link_to 'Mes parcelles',parcels_path, class: 'nav-link' %></p>
                      <div class="dropdown-divider"></div>
                      <p class="dropdown-item"><%= link_to 'Mes actions',action_types_path, class: 'nav-link' %></p>
                      <div class="dropdown-divider"></div>
                      <p class="dropdown-item"><%= link_to 'Mes engrais', fertilizers_path, class: 'nav-link' %></p>
                    </div>
                  </li>
                </ul>
                <p class="nav-link" href="#" id="navbarDropdown" aria-haspopup="true" aria-expanded="false">
                      <%= link_to 'annuaire', directories_path, class: 'nav-link' %>
                </p>

                <ul class="nav navbar-nav flex-row justify-content-md-end flex-nowrap">
                    <li class="nav-item dropdown">
                      <p class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cog" id="icon_param"></i>
                      </p>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <p class="dropdown-item"><%= link_to 'Modifier mon compte', edit_user_registration_path, class: 'nav-link text-info' %></p>
                      <div class="dropdown-divider"></div>
                        <p class="dropdown-item"> <%= link_to 'Déconnexion', destroy_user_session_path, method: 'delete', class: 'nav-link text-danger' %> </p>
                      </div>
                    </li>
                 </ul>
              </div>

          </div>

    <% end %>
    </header>
    
    <div class="breadcrumb">
    <p>Vous êtes ici > <%= render_breadcrumbs :separator => ' > ' %></p>
    </div>
    <%= yield %>


  </body>
</html>
