<!DOCTYPE html>
<html>
  <head>
    <title>Journaldebord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar shadow-sm">
        <p class="navbar-brand">Le journal de bord</p>
        <% if user_signed_in? %>
          <%= link_to 'Déconnexion', destroy_user_session_path, method: 'delete', class: 'nav-item text-danger' %>
        <% end %>
    </header>
    <%= yield %>
  </body>
</html>
